*~
data
data/*
test/
*.pyc
.DS_Store
\#*
.#*
images/
mapnik.bak/
leaflet.*
mapnik/inc/bak
mapnik/generate*
mapnik/mapquest*
mapnik/*bak*
mapnik/*my*
mapnik/osm.xml.*
mapnik/*py
mapnik/*pl
mapnik/*sh
mapnik/ne*zip
mapnik/osm1.xml
mapnik/osm2.xml
mapnik/osm_holdea.xml
mapnik/utils
mapnik/zoom-to-scale.txt
mapnik/.*
demo
*/tilestache/template
googleMapsKey.js
thunderforestKey.js
analytics.js

ol-*
.vscode
leaflet-*.js
leaflet-*.css
.env