:root {
    --transition: all .5s ease-out;
}

.default-cursor {
    cursor: default;
}

.legend-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    font-size: 14px;
    /* border-radius: 5px;
    border: 2px solid rgba(0,0,0, 0.2); */
    transition: var(--transition);
    /* background-clip: padding-box; */
}

.leaflet-bottom .leaflet-control{
    transition: var(--transition);
}

.legend-content-element {
    display: contents;
}

.show-legend-button {
    float: right;
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    color: white;
    font-family: cursive;
    background-color: rgba(0, 81, 186, 0.2);
    cursor: pointer;
}

.logo-container {
    padding: 8px;
}

.clickable {
    cursor: pointer;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .legend-container {
        line-height: 125%;
    }
}

@media screen and (orientation: landscape) and (max-height: 540px) {
    .legend-container {
        line-height: 100%;
    }
}

@media screen and (orientation: landscape) and (max-height: 495px) {
    .leaflet-bottom .leaflet-control {
        margin-bottom: 0px;
    }

    .legend-container {
        /* border-radius: 0; */
        padding: 4px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        /* border-bottom: 0;      */
    }
}