:root {
  --transition: all .5s ease-in-out;
}

/* overwrite layers icon */
/* .leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/layer-icon.svg);
  width: 36px;
  height: 36px;
} */

.default-cursor {
  cursor: default;
}

.leaflet-control-attribution {
  font-size: 0.60rem;
}

.legend-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  font-size: 14px;
  transition: var(--transition);
  /* background-clip: padding-box; */
}

.leaflet-bottom .leaflet-control {
  transition: var(--transition);
}

.legend-content-element {
  display: contents;
}

.show-legend-button {
  height: 21px;
  width: 21px;
  background: url(/double-arrow-left-icon.svg) no-repeat center center;
  background-size: 10px;
  background-color: rgba(0, 81, 186, 0.2);
  float: right;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .legend-container {
    line-height: 12pt;
  }
}

@media screen and (orientation: landscape) and (max-height: 540px) {
  .legend-container {
    line-height: 11pt;
  }
}

@media screen and (orientation: landscape) and (max-height: 495px) {
  .leaflet-bottom .leaflet-control {
    margin-bottom: 0px;
  }

  .legend-container {
    padding: 4px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;      */
  }
}
